security:
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    providers:
        app_user_provider:
            entity:
                class: App\Entity\Usuario
                property: email

    firewalls:
        dev:
            pattern: ^/(_profiler|_wdt|assets|build)/
            security: false
        main:
            lazy: true
            provider: app_user_provider
            custom_authenticator: App\Security\LoginFormAuthenticator

            logout:
                path: app_logout
                # Tras cerrar sesión, lo mejor es volver al listado de motos
                target: app_moto

            remember_me:
                secret: '%kernel.secret%'
                lifetime: 604800
                path: /

    access_control:
        # 1. Protegemos tu nueva página de usuario
        # Solo usuarios que hayan iniciado sesión pueden ver su panel
        - { path: ^/mi-cuenta, roles: ROLE_USER }

        # 2. Rutas de administración
        - { path: ^/admin, roles: ROLE_ADMIN }

        # 3. Restricciones para la gestión de motos (Solo ADMIN)
        - { path: ^/moto/new, roles: ROLE_ADMIN }
        - { path: ^/moto/\d+/edit, roles: ROLE_ADMIN }

        # 4. Aseguramos que cualquier otra ruta de perfil esté protegida
        - { path: ^/profile, roles: IS_AUTHENTICATED_FULLY }
