{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Resumen de Estadísticas BMW{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-4">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">
                    <h1>{{ totalMotos }}</h1>
                    <p>Motos en Catálogo</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">
                    <h1>{{ totalValoraciones }}</h1>
                    <p>Valoraciones Totales</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-info text-white mb-4">
                <div class="card-body">
                    <h1>{{ totalCategorias }}</h1>
                    <p>Categorías Creadas</p>
                </div>
            </div>
        </div>
    </div>

    <div class="alert alert-info">
        <i class="fa fa-info-circle"></i> Usa el menú de la izquierda para gestionar el contenido.
    </div>
{% endblock %}
